.main-wrapper {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  
  .header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .search-container {
    position: relative;
    margin-bottom: 0px;
  }
  
  .search-container input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 70%;
    max-width: 400px;
    margin-right: 10px;
  }
  
  .search-container button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background-color: #0056b3;
  }
  
  .suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 70%;
    max-width: 400px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    list-style: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .suggestions li {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background-color: #f0f0f0;
  }
  
  .weather-info {
    margin-top: 20px;
  }
  
  .weather-info h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .weather-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555;
  }
  
  .weather-info h3 {
    font-size: 2.5rem;
    margin-top: 0;
    color: #333;
  }
  